<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SharepointAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <SharepointAccess.Properties.Settings>
      <setting name="SharepointAccess_ListsReference_Lists" serializeAs="String">
        <value>https://Website/_vti_bin/Lists.asmx</value>
      </setting>
    </SharepointAccess.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="WebSite" value="https://Website/"/>
  </appSettings>
</configuration>